<ion-header>
  <ion-toolbar>
    <ion-title>Song List</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/create">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="padding">
  <ion-item *ngFor="let song of songList | async" routerLink="/detail/{{song.id}}" style="cursor: pointer;">
    <ion-label>
      <h2>{{ song.songName}}</h2>
      <p>Artist Name: {{ song.artistName }}</p>
    </ion-label>
  </ion-item>
</ion-content>
